<h1>Edit Party at Table <%= @party.teble.number %></h1>
<form action="/parties" method="post">
  Table Number:
  <select name="party[teble_id]">
  <% @tables.each do |table| %>
    <option value="<%= table.id %>"><%= table.number %></option>
  <% end %>
  </select>
  <br>

  Number of Guests:
  <select name="party[guests]">
  <% 20.times do |i| %>
    <% i += 1 %>
    <option value="<%= i %>"><%= i %></option>
  <% end %>
  </select>
  <br><br>
  <input type="submit">
</form>
