<h1>Add New Party</h1>
<form action="/parties" method="post">

  Table Number:
  <select name="party[teble_id]">
  <% @available.each do |table| %>
    <option value="<%= table.id %>"><%= table.number %></option>
  <% end %>
  </select>
  <br><br>

  Number of Guests:
  <select name="party[guests]">
  <% 20.times do |i| %>
    <% i += 1 %>
    <option value="<%= i %>"><%= i %></option>
  <% end %>
  </select>

  <input type="hidden" name="party[paid]" value="false"><br>
  <input type="hidden" name="party[server_id]" value="<%= @server_id %>"><br>
  <input type="Submit">

</form>
<br>
