Table Number: <%= @party.teble.number %><br>
Number of Guests: <%= @party.guests %><br>
Paid:
<% if @party.paid %>
Yes
<% else %>
No
<% end %>
<br>
<br>
<a href="/parties/<%= @party.id %>/order">Add Order for Table <%= @party.teble.number%></a><br>
<a href="/parties/<%= @party.id %>/receipt">View Orders/Receipt</a><br>
<a href="/parties/<%= @party.id %>/close">Close Out Party</a><br>
<a href="/parties/<%= @party.id %>/edit">Edit Party</a><br>
