Items Ordered:
<ol>
<% @party.meals.each do |meal| %>
    <li><%= meal.name %> $<%= meal.price %>0</li>
<% end %>
</ol>
Total: $<%= @party.total %>0<br><br>

<% fifteen = @party.total * 0.15 %>
15% Tip: $<%= fifteen %>0<br><br>

<% twenty = @party.total * 0.20 %>
20% Tip: $<%= twenty %>0<br><br>

<% twofive = @party.total * 0.25 %>
25% Tip: $<%= twofive %>0<br><br>

<a href="/parties/<%= @party.id %>">Back</a>
